* {
    -fx-font-family: "Consolas";
}
#gameBorderPane {
    -fx-background-color: white;
    -fx-min-width: 1200;
    -fx-min-height: 800;
}

.playerHBox {
    -fx-font-size: 20;
    -fx-max-width: 250;
    -fx-min-width: 250;

}

#gameHistoryTextArea {
    -fx-max-width: 250;
    -fx-min-width: 250;
    -fx-background-radius: 0;
    -fx-font-size: 12;
}

#leftVBox {
    -fx-max-width: 250;
    -fx-min-width: 250;
}

#checkMoveFeedbackLabel {
    -fx-font-size: 2em;
}

#currentPlayerLabel {
    -fx-font-size: 30;
    -fx-max-width: 300;
    -fx-min-width: 300;
}

.mainGameBoardLabel {
    -fx-min-height: 40;
    -fx-min-width: 40;
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
    -fx-alignment: center;
    -fx-background-radius: 0;
}


#gameHistoryLabel {
    -fx-font-size: 2em;
    -fx-min-width: 250;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: gray;
    -fx-text-fill: white;
}

#backToMenuButton {
    -fx-font-size: 3em;
    -fx-min-width: 70;
    -fx-min-height: 30;
    -fx-background-color: grey;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

#backToMenuButton:hover {
    -fx-background-color: darkslategray;
}



.nickLabel {
    -fx-min-width: 180;
}
.pointsLabel {
    -fx-min-width: 35;
    -fx-text-alignment: right;
    -fx-alignment: center-right;
}

.colorLabel {
    -fx-min-width: 25;
}

#currentPlayerColorLabel {
    -fx-min-width: 30;
    -fx-min-height: 30;
}

#playButton {
    -fx-min-width: 250;
    -fx-font-size: 2.6em;
    -fx-background-color: grey;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

#passButton:hover {
    -fx-background-color: darkslategray;
}

#playButton:hover {
    -fx-background-color: darkslategray;
}

#tileBagButton:hover {
    -fx-background-color: darkslategray;
}

#passButton {
    -fx-min-width: 250;
    -fx-font-size: 2.6em;
    -fx-background-color: grey;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

#progressBar {
    -fx-background-radius: 0;
    -fx-min-height: 20;
}

#progressBar .bar {
    -fx-background-radius: 0;
    -fx-background-color: gray;
}

#progressBar .track {
    -fx-background-radius: 0;
}

#tileBagButton {
    -fx-min-width: 250;
    -fx-font-size: 2.6em;
    -fx-background-color: grey;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

.tileLetterLabel {
    -fx-font-size: 25;
    -fx-alignment: center;
    -fx-font-family: "Futura";

}

.tilePointsLabel {
    -fx-font-size: 12;
}

.tileGridPane {
    -fx-background-radius: 0;
    -fx-min-height: 40;
    -fx-min-width: 40;
    -fx-max-height: 40;
    -fx-max-width: 40;
    -fx-background-color: #f2d7a9;
}

